body {
    background-color: #ffcccc;
    color: #742c36;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.container {
    width: 400px;
    background-color: #ffa8a8;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ff8b8b;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

h1 {
    color: #700022;
    text-align: center;
}

h3 {
    color: #700002;
    border-bottom: 1px solid #ffc9c9;
    padding-bottom: 5px;
}

.card {
    background: #ffc4c4;
    padding: 15px;
    border-radius: 5px;
    border-left: 5px solid #ffcdcd;
}

button {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: #fc7272;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #752222;
}

ul{
    list-style: none;
    padding: 0;
}

li{
    padding: 5px 0;
    color: rgb(32, 1, 7);
}

input, select{
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid #411d28;
    background-color: #ffd0d0;
    color: rgb(128, 0, 64);
    box-sizing: border-box;
}

hr {
    border: 0;
    border-top: 1px solid #ffffff;
    margin: 20px 0;
}

.card{
    background-color: #ffd0d0;
    padding: 15px;
    margin-top: 15px;
    border-left: 5px solid rgb(128, 0, 64);
}